<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/style.css">
    {% seo %}
</head>

<body>

<header class="header">
    <div class="container">
        <h1>DengYueMed</h1>
        <nav class="header">
    <div class="nav-container">

        <!-- 左：Logo -->
        <div class="logo">
            <a href="/">DengYueMed</a>
        </div>

        <!-- 右：菜单 -->
        <div class="menu">
            <a href="/">Home</a>
            <a href="/#oncology">Oncology</a>
            <a href="/#rare">Rare Disease</a>
            <a href="/tags.html">Tags</a>
            <a href="/about.html">About</a>
        </div>

    </div>
</nav>
    </div>
</header>

<main class="container">
    {{ content }}
</main>

<footer class="footer">
    <p>© 2026 DengYueMed | Pharma Intelligence</p>
</footer>

</body>
</html>
