---
layout: default
title: DengYueMed Россия
---

<h2>Глобальная фармацевтическая аналитика</h2>
<p>Анализ онкологии, редких заболеваний и инновационных лекарств.</p>

<h3>Последние статьи</h3>

<div class="main-list">
{% for post in site.posts %}
<div class="card horizontal">

    {% if post.image %}
    <img src="{{ post.image }}" class="thumb-horizontal">
    {% endif %}

    <div class="card-content">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    </div>

</div>
{% endfor %}
</div>
